@(bookForm: Form[models.Book])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main("Student Book Exchange | Create Book") {
<div class="container">
  <h1>Create Book</h1>
  <div class="span6">
    <div class="well">
      @form(routes.Book.save(), 'class -> "form-horizontal") {
        @inputText(bookForm("bookId"), '_label -> "ID")
        @inputText(bookForm("title"), '_label -> "Title")
        @inputText(bookForm("edition"), '_label -> "Edition")
        @inputText(bookForm("price"), '_label -> "Bookstore Price")
        @inputText(bookForm("isbn"), '_label -> "ISBN")
        
        <div class="control-group">
          <div class="controls">
            <input id="create" type="submit" value="Create" class="btn btn-primary">
            <a href="@routes.Book.index()" class="btn">Cancel</a>
          </div>
        </div>
      }
    </div>
  </div>
</div>
}
