@main("Student Book Exchange | Homepage") {
  <div class="container">
    <div class="page-header">
      <h1>Welcome to the Student Book Exchange</h1>
    </div>
    <div class="row">
      <div class="span8 offset2">
        <div class="well">
          <h3>Save money by exchanging books with your fellow students instead of paying outrageous book store prices!</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span4">
        <div class="well">
          <h4>Browse Books</h4>
          <p>View books and their available offers and requests.</p>
          <a id="viewBooks" class="btn btn-primary" href="@routes.Book.index()">Find Books!</a> 
        </div>
      </div>
      <div class="span4">
        <div class="well">
          <h4>Browse Students</h4>
          <p>View students and their available offers and requests.</p>
          <a id="viewStudents" class="btn btn-primary" href="@routes.Student.index()">Find Students!</a> 
        </div>
      </div>
      <div class="span4">
        <div class="well">
          <h4>Browse Offers/Requests
          </h4>
          <p>Find available offers and requests made by students.</p>
          <a id="viewRequests" class="btn btn-primary" href="@routes.Request.index()">Find Requests!</a> 
          <a id="viewOffers" class="btn btn-primary" href="@routes.Offer.index()">Find Offers!</a> 
        </div>
      </div>
    </div>
  </div>
}
