@(primaryKey: Long, offerForm: Form[models.Offer])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main("Student Book Exchange | Edit Offer") {
<div class="container">
  <h1>Edit Offer</h1>
  <div class="span6">
    <div class="well">
      @form(routes.Offer.save(), 'class -> "form-horizontal") {
        @inputText(offerForm("offerId"), '_label -> "ID")
        @select(offerForm("studentId"), options = options(models.Student.getStudentIds()), '_default -> "Choose a student", '_label -> "Student")
        @select(offerForm("bookId"), options = options(models.Book.getBookIds()), '_default -> "Choose a book", '_label -> "Book")
        @inputText(offerForm("targetPrice"), '_label -> "Target Price")
        
        <div class="control-group">
          <div class="controls">
            <input id="update" type="submit" value="Update" class="btn btn-primary">
            <a id="delete" href="@routes.Offer.delete(primaryKey)" class="btn btn-danger">Delete</a>
            <a id="cancel" href="@routes.Offer.index()" class="btn">Cancel</a>
          </div>
        </div>
      }
    </div>
  </div>
</div>
}
