@(offerForm: Form[models.Offer])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main("Student Book Exchange | Create Offer") {
<div class="container">
  <h1>Create Offer</h1>
  <div class="span6">
    <div class="well">
      @form(routes.Offer.save(), 'class -> "form-horizontal") {
        @inputText(offerForm("offerId"), '_label -> "ID")
        @select(offerForm("studentName"), options = options(models.Student.getNames()), '_default -> "Choose a student", '_label -> "Student")
        @select(offerForm("bookTitle"), options = options(models.Book.getTitles()), '_default -> "Choose a book", '_label -> "Book")
        @inputText(offerForm("targetPrice"), '_label -> "Target Price")
        
        <div class="control-group">
          <div class="controls">
            <input id="create" type="submit" value="Create" class="btn btn-primary">
            <a href="@routes.Application.index()" class="btn">Cancel</a>
          </div>
        </div>
      }
    </div>
  </div>
</div>
}
