@(studentForm: Form[models.Student])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main("Student Book Exchange | Create Student") {
<div class="container">
  <h1>Create Student</h1>
  <div class="span6">
    <div class="well">
      @form(routes.Student.save(), 'class -> "form-horizontal") {
        @inputText(studentForm("studentId"), '_label -> "ID")
        @inputText(studentForm("name"), '_label -> "Name")
        @inputText(studentForm("email"), '_label -> "Email")
        <div class="control-group">
          <div class="controls">
            <input id="create" type="submit" value="Create" class="btn btn-primary">
            <a href="@routes.Student.index()" class="btn">Cancel</a>
          </div>
        </div>
      }
    </div>
  </div>
</div>
}
